<%- include('../partials/header') %>
<h1>Lista de Pagos</h1>
<a href="/prestamos" class="btn btn-primary" style="margin-bottom: 1em;">Registrar Pago (elige un préstamo)</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Monto</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
        <% pagos.forEach(function(pago) { %>
            <tr>
                <td><%= pago._id %></td>
                <td><%= pago.prestamo && pago.prestamo.cliente ? pago.prestamo.cliente.nombre : '' %></td>
                <td><%= pago.monto %></td>
                <td><%= pago.fecha ? pago.fecha.toLocaleDateString() : '' %></td>
            </tr>
        <% }) %>
    </tbody>
</table>
<%- include('../partials/footer') %>