<%- include('../partials/header') %>
<h1>Detalle de Préstamo</h1>
<p>Cliente: <%= prestamo.cliente.nombre %></p>
<p>Monto: <%= prestamo.monto %></p>
<p>Intereses: <%= prestamo.intereses %></p>
<p>Saldo Pendiente: <%= prestamo.saldoPendiente %></p>
<p>Estado: <%= prestamo.estado %></p>
<h2>Pagos:</h2>
<ul>
  <% prestamo.pagos.forEach(pago => { %>
    <li><%= pago.monto %> en <%= pago.fecha.toDateString() %></li>
  <% }) %>
</ul>
<a href="/pagos/create/<%= prestamo._id %>" class="btn btn-info">Agregar Pago</a>
<%- include('../partials/footer') %>